WSRoles/Roles/src/META-INF/wsdl/localhost_8083/WebRoles/wsRoles.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.mx.ipn.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.mx.ipn.com/" name="wsRoles">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.mx.ipn.com/" schemaLocation="http://localhost:8083/WebRoles/wsRoles?xsd=1"/>
</xsd:schema>
</types>
<message name="seleccionarTodosRol">
<part name="parameters" element="tns:seleccionarTodosRol"/>
</message>
<message name="seleccionarTodosRolResponse">
<part name="parameters" element="tns:seleccionarTodosRolResponse"/>
</message>
<message name="eliminarRol">
<part name="parameters" element="tns:eliminarRol"/>
</message>
<message name="eliminarRolResponse">
<part name="parameters" element="tns:eliminarRolResponse"/>
</message>
<message name="actualizarRol">
<part name="parameters" element="tns:actualizarRol"/>
</message>
<message name="actualizarRolResponse">
<part name="parameters" element="tns:actualizarRolResponse"/>
</message>
<message name="insertarRol">
<part name="parameters" element="tns:insertarRol"/>
</message>
<message name="insertarRolResponse">
<part name="parameters" element="tns:insertarRolResponse"/>
</message>
<message name="seleccionarUnoRol">
<part name="parameters" element="tns:seleccionarUnoRol"/>
</message>
<message name="seleccionarUnoRolResponse">
<part name="parameters" element="tns:seleccionarUnoRolResponse"/>
</message>
<portType name="wsRoles">
<operation name="seleccionarTodosRol">
<input wsam:Action="http://ws.mx.ipn.com/wsRoles/seleccionarTodosRolRequest" message="tns:seleccionarTodosRol"/>
<output wsam:Action="http://ws.mx.ipn.com/wsRoles/seleccionarTodosRolResponse" message="tns:seleccionarTodosRolResponse"/>
</operation>
<operation name="eliminarRol">
<input wsam:Action="http://ws.mx.ipn.com/wsRoles/eliminarRolRequest" message="tns:eliminarRol"/>
<output wsam:Action="http://ws.mx.ipn.com/wsRoles/eliminarRolResponse" message="tns:eliminarRolResponse"/>
</operation>
<operation name="actualizarRol">
<input wsam:Action="http://ws.mx.ipn.com/wsRoles/actualizarRolRequest" message="tns:actualizarRol"/>
<output wsam:Action="http://ws.mx.ipn.com/wsRoles/actualizarRolResponse" message="tns:actualizarRolResponse"/>
</operation>
<operation name="insertarRol">
<input wsam:Action="http://ws.mx.ipn.com/wsRoles/insertarRolRequest" message="tns:insertarRol"/>
<output wsam:Action="http://ws.mx.ipn.com/wsRoles/insertarRolResponse" message="tns:insertarRolResponse"/>
</operation>
<operation name="seleccionarUnoRol">
<input wsam:Action="http://ws.mx.ipn.com/wsRoles/seleccionarUnoRolRequest" message="tns:seleccionarUnoRol"/>
<output wsam:Action="http://ws.mx.ipn.com/wsRoles/seleccionarUnoRolResponse" message="tns:seleccionarUnoRolResponse"/>
</operation>
</portType>
<binding name="wsRolesPortBinding" type="tns:wsRoles">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="seleccionarTodosRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seleccionarUnoRol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsRoles">
<port name="wsRolesPort" binding="tns:wsRolesPortBinding">
<soap:address location="http://localhost:8083/WebRoles/wsRoles"/>
</port>
</service>
</definitions>